/* *{
  background-image: url("../images/fondo.jpg");
  color: white;
} */

body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header .buscador{
  margin-left: 30px;
  margin-top: 40px;
}
header .buscador form{
  padding-left: 50px;
}
form {
  display: flex;
  margin-top: 0em;
}